<h4>Login: </h4>

<div class="card">
    <div class="card-body">
        <form action="/usuario/login" method="post">
            <label for="email">Email: </label>
                <input type="email" name="email" class='form-control mt-1' required>
            <label for="senha" class='mt-2'>Senha: </label>
                <input type="password" name="senha" class='form-control mt-1'>
            <button class="btn btn-success mt-3" type='submit'>Entrar</button>
        </form>
    </div>
</div>