<!-- No 'action' coloca-se a rota para qual quer enviar os dados. O método de envio pode ser 'get' ou 'post'. No método 'get', todas informações enviadas aparecem na URL, o que não é tão seguro. O post não passa os dados pela URL. Para formulários, usa-se mais o post.-->

<form action="/adicionar" method="POST"> 
    <p>Título: </p>
    <input type="text" name='título'>
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <button type='submit'>Cadastrar Postagem</button>
</form>
